@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {

    --font-overpass: "Overpass", sans-serif;

    --color-primary-orange: hsl(25, 97%, 53%);
    --color-light-gray: hsl(217, 12%, 63%);
    --dark-blue:hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}